.container{
   max-width: 960px;
   margin: 0 auto;
   background: #f9f9f9;
   font-size: 24px;
   padding: 25px;
   background-color: darkgray;

}
.parallax-window{
   min-height: 500px;
   background: transparent;
   padding: 150px 35px;

}

.info{
   z-index: 2;
   position: relative;
   color: #f1f1f1;
   text-shadow: 2px 2px 5px black;
   text-align: center;
   vertical-align:

}




/*
man-standing.jpg
snowboarding.jpg
*/
