
@media (max-width : 550px) {

  html{
    background: black;

  }

  body{
    background: url(/img/landscape.jpg);
    background-position-x: 47%;
    background-size: cover;
    
  }





  .page{
    backdrop-filter: none;
    background: rgba(116, 116, 116, 0.3);
    background: none;
  }
  .header{
    background: none;
    &__h1{
      word-break: break-word;
      max-width: unset;
    }
  }


  .main{
   margin-top: 50px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
    ul{
      max-width: max-content;
    }
    
  }
  
  .experience{
     height: auto;    
  }
   .edu{
      display: flex;
      flex-direction: column;
      .education.element{
         height: auto;
      }
      .element{
         height: 50px;
         
      }
      .english{
         width: 200px;
      }
   }  

}