
*{
   margin: 0px;
   padding: 0px;
   color: black;
}
ul li{
   text-decoration: none;
   list-style:none;
}
header{

   font-family: 'Montserrat', sans-serif;
   height: 50px;
   width: 100vw;
   background-color: rgba(0, 0, 0, 1);
}
.logo{
   display: inline-block;
   font-size: 25px;
   float: left;
   margin-left: 3rem;
   font-weight: 900;
   /*letter-spacing: 0.5em;*/
}

header nav ul{
   width: fit-content;
   float: right;
}

header nav ul li {
   display: inline;
   text-transform: uppercase;

}
header nav ul li a, .logo{
   line-height: 50px;
   display: inline-block;
   text-decoration: none;
   color: white;
}

header nav ul li a{
   float:left;
   padding-top: 1px;
   padding-left: 3rem;
   padding-right: 3rem;
   transition: ease;
   font-size: 20px;

}
header nav ul li a:hover{
   /*color: #f1f1f1;*/
   background-color: rgba(255,255,255,0.15);
   color: white;
}

.banner{
   /*4*/
   /*22*/
   background-image: url('lowRes.jpg');
   width: 100%;
   background-repeat: no-repeat;
   height: calc(100vh - 50px);
   background-color: aqua;
   background-position:center;
   background-size:cover;

}

.banner h1{
   /*color: #FFBE42;
   text-shadow: 0 0 15px #c38817;*/
   display: block;
}



.banner-text-container1{
   width: 50%;
   margin-left: 50%;
   display: inline;


   text-transform: uppercase;
   font-family: Montserrat;
   font-size: 4rem;
   padding-top: 4rem;

   text-align: right;



}

.banner-text-container1 h1{
   padding-bottom: 1.8rem;
   text-align: right;
   color: black;
   margin-right: 2rem;

}
.banner-text-container2{
   margin-top: 2%;
   height: 90px;
   /*background-color: #efaf37;*/
   background-color: white;
   width: 80%;
   vertical-align:middle;
   padding-right: 0.5%;
   box-shadow: 3px 3px  5px;
}




.banner-text{
   line-height: 31px;
   align-items: center;
   
   text-align: right;
   color: black;
   /*background-color: black;
   color: white;
   */
}
